.App {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 400;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #f1b993, #746df4 48%, #fc78c9);
}

h1 {
  font-family: inherit;
}

.auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }


input {
  margin: 0.4rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background: rgba(247, 245, 241, 0.683);
}

.enter {
  border: none;
  background: rgba(247, 245, 241, 0.683);
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  color: #000000;
  margin: 5px;
}

.link-button {
  background: none;
  color: black;
  text-decoration: underline;
  padding: 0.6em 1.2em;
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  
}

